button, .link{
  background: dodgerblue;
  padding: 12px 20px;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
input{
  height: 40px;
  min-width: 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

#container{

  background: inherit;
/*position: absolute; */
  overflow: hidden;
  min-width: 300px;

  border-radius: 8px;
}
#container:before{

  content: "";
  /*position: absolute; */
  //top: -25px;
  //left: -25px;
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
form img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.form{
  text-align: center;
height: 100%;
width: 100%;
background: white;
  //transform: translate(-50%,-50%);
}
label{
  display: block;
  font-size: 12px;
  text-align: left;
  margin: 0px ;
  padding: 3px 18px;

}
button.btn-primary{
  background-color: dodgerblue !important;
}
.error_field{
  font-size: 10px;
  background: pink;
  padding: 0.15em 0.2em;
  width: 80%;
  border-radius: 20px;
  text-align: left;
  color:indianred;
}
.link{
text-decoration: none;
margin:0;
}
input{
  background: 0;
  width: 100%;
  height: 40px;
  outline: 0;
  //border-bottom: 2px solid rgba(255,255,255, 0.3);
  margin: 10px 0;
  padding-bottom: 10px;
  font-size: 12px;
  padding: 0.3em 0.4em;
  font-weight: bold;
  color: gray;
  //color: rgba(255,255,255, 0.8);
}
input[type="submit"], .submit{
  border: 0;
  border-radius: 25px;
  padding-bottom: 0;
  height: 30px;
  margin-top:0;
  background: #df2359;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
input[type="submit"]:hover, button.submit:hover,{
  background: #C0392B;
}
span a{
  color: rgba(255,255,255, 0.8);
}
button.submit{
  width: 80% !important;
  background: #df2359;
  &.submit{
    &:hover{
      background: #C0392B !important;

    }
  }
}
.btn{
  width: 30px;
  height: 30px;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  background: whitesmoke;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 50%;
}
.switch{
  width: 100%;
}
  .on{
    color: red;
    //background: indianred;
  }
  .off{
    color: blue;

  }
  button.on{
    color: indianred;
    background: pink;
  }
button.off{
  color: white;
  background: dodgerblue;
}

.display{
  display: flex;
  justify-content: space-between;
}
