button{
  background: dodgerblue;
  padding: 12px 20px;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
input{
  height: 40px;
  min-width: 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
